<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.googlecode.aegisshield" android:versionCode="1"
	android:versionName="1.0.0">
	<application android:icon="@drawable/lock_icon" android:label="@string/app_name">
		<activity android:name=".AegisMain" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!-- 
		<activity android:name=".password.VerifyPassword"
			android:label="@string/verify_password_text">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
 
		<activity android:name=".password.GeneratePassword"
			android:label="@string/generate_password_text">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		-->
		<activity android:name=".addaccount.AddAccountInformation" android:label="@string/add_account_text">
            <intent-filter>
                <action android:name="com.googlecode.aegisshield.action.ADD_ACCT_INFO_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".editaccount.EditAccountInformation" android:label="@string/edit_account_text">
            <intent-filter>
                <action android:name="com.googlecode.aegisshield.action.EDIT_ACCT_INFO_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".accountoverview.AccountInfoOverview" android:label="@string/account_overview_text">
            <intent-filter>
                <action android:name="com.googlecode.aegisshield.action.ACCT_INFO_OVERVIEW_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- the account information data provider -->
        <provider android:authorities="com.googlecode.aegisshield.accountinformationprovider"
                  android:name="com.googlecode.aegisshield.domain.AccountInformationProvider">
        </provider>
	</application>
    <permission android:name="password_access" android:protectionLevel="signature"></permission>
</manifest> 